[Unit]
Description=SMS Client
[Service]
WorkingDirectory=/path
ExecStart=/usr/bin/python /path/smsclient.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smsclient
User=root
Group=root
[Install]
WantedBy=multi-user.target

